.widget
{
    position: absolute;    
    white-space: nowrap;
    font-family: "Arial";
    font-weight: normal
}

.page
{    
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 600px;
    display: block;    
}

.page.hidden
{    
    display: none
}

#_measurement
{
    position: absolute;
    visibility: hidden;
    width: auto;
    height: auto
}
